
.pagina {
    display: none;
}

.pagina-activa {
    display: block;
}
body {
    background: linear-gradient(rgba(5, 7, 12, 0.90), rgba(5, 7, 12, 0.90)),
    url(Img/Img\ inicio.jpg);
    box-sizing: border-box;
}  
main{
    padding-left: 9rem;
}
header{
    display: block;

}
h1{
    display: grid;
    place-items: center; 
    height: 50vh;;
}
h2 {
    color: white;
    font-size: 3em;
    display: flex;
    text-align: center; 
    position: sticky;
    color: white;
    text-align: center; 
    position: absolute;
    top: 70%;
}
h3 {
    color: white;
    text-align: center; 
    position: absolute;
    top: 100%;
}
footer{
    color: white;
    text-align: center; 
    position: absolute;
    bottom: 0;
    width: 100%; 
}
p {
    color: white
}
.average {
    width: 500px; /* Ancho del elemento (puedes ajustarlo según tus necesidades) */
    margin-left: auto;
    margin-right: auto;
    color: #e7e8e2;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding-left: 10rem; 
}

.familia-cartaB:hover{
    background : rgba(126, 120, 120, 0.485);
    transform: perspective(500px) rotateY(360deg);
}
.nombre-carta{
    margin: 0;
    justify-content: center;
    font-style: arial;
    display: flex;
    align-items: center;
    color: #FFFFFF; 
}
.boton-inicio {
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
    font-size: 20px; /* Ajusta el tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 5px;
    margin-bottom: 10px;
    background: none;
    border: 0;
}
.botonPersonajes{
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
    font-size: 20px; /* Ajusta el tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 5px;
    margin-bottom: 10px;
    background: none;
    border: 0;
}
.botonPersonajes:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el ratón sobre el botón */
    color: #000000; /* Color del texto */
}
.boton-inicio:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el ratón sobre el botón */
    color: #000000; /* Color del texto */
}
.barra-navegacion {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: content-box;
    max-width: 470px;
    background: rgb(31,29,29);
    background: linear-gradient(90deg, rgba(31, 29, 29, 0.43) 0%, rgba(16, 17, 17, 0.359) 21%, rgba(45, 44, 46, 0.299) 100%);
    height: 100%;
}
.contenedor-barra-principal{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    width:100%;
    overflow: hidden;
    gap: 1rem;
}
#pagina2{
margin-top: -5px;
}

.filters{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.card {
    background-color: transparent;
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
    perspective: 1000px;
    object-fit: cover;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    object-fit: cover;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.imagen-cartaA {
    width: 100%;
    height: 100%;
    position: relative ;
    object-position: 50% 0;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front {
    background-color: #444;
    color: rgba(112, 108, 108, 0.479);
}

.card-back {
    background-color: #444;
    color: rgb(255, 242, 242);
    transform: rotateY(180deg);
    font-size: 18px;
}
.contenedor-con-degradado {
    height: 230px;
    max-width: 200px;
    background-color: rgba(126, 120, 120, 0.485); /* Color de fondo de la tarjeta con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(142, 139, 139, 0.2); /* Sombra */
    overflow: hidden; /* Evita que el contenido se desborde de la tarjeta */
    color: #eef6ff;
    backface-visibility: hidden;
}

#select-filter,
#sort-order,
[data-testid="button-clear"] {
    color: white;
    font-size: 18px;
    background-color: rgba(26, 27, 27, 0.636);
    padding: 0.5rem 1.5rem;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(91, 94, 94);
    left: 800px;
}
label{
    color: white;
    font-size: 18px;
}

@media only screen and (max-width: 480px){
    h1 > img {
        width: 100%;
    }

    main{
        padding: 0;
    }

    h2, h3{
        position: relative;
    }
    .barra-navegacion{
        z-index: 200;
        flex-direction: row;
        width: 100%;
        height: 10%;
        background: rgb(31,29,29)
    }

    .boton-inicio, .botonPersonajes{
        padding: 0;
        margin: 0;
    }

    footer{
        position: relative;
    }

    .contenedor-barra-principal{
        gap: 5rem;
    }

    .filters{
        flex-direction: column;
    }

    .contenedor{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
        margin: 0;
        padding: 0;
    }
    

}