
.pagina {
    display: none;
}

.pagina-activa {
    display: block;
}
body {
    background: linear-gradient(rgba(5, 7, 12, 0.90), rgba(5, 7, 12, 0.90)),
    url(Img/Img\ inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  
h2 {
    color: white;
    font-size: 2em;
    display: flex;
    text-align: center; 
    position: absolute;
    top: 50%;
}
h3 {
    color: white;
    text-align: center; 
    position: absolute;
    top: 70%;
}
footer{
    color: white;
    text-align: center; 
    position: absolute;
    top: 90%; 
}
p {
    color: white
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    
}
.carta{
    text-align: center;
    height: 230px;
    max-width: 200px;
    background-color: rgba(126, 120, 120, 0.8); /* Color de fondo de la tarjeta con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(142, 139, 139, 0.2); /* Sombra */
    overflow: hidden; /* Evita que el contenido se desborde de la tarjeta */
    color: #eef6ff;  
}
.carta img{
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    height: 70%; /* Mantiene la proporción de la imagen */
}
.carta:hover{
    box-shadow:5px 5px 20px rgb(rgb(94, 91, 91), rgb(15, 15, 15), rgb(212, 212, 218));
    background-color: #161616;
    transform: scale(1.2);
    transition: 1s all;
}

.nombre-cartaA{
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    color: #FFFFFF; 
}
.boton {
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    background-color: #777a7c; /* Color de fondo */
    color: #000000; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 5px;
    margin-bottom: 10px;
}
.boton:hover {
    background-color: #eef6ff; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
.barra-navegacion {
    box-sizing: content-box;
    max-width: 470px;
    padding: 2rem 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #777a7c;
    
}
.contenedor-barra-principal{
    display: flex;
    
}
#pagina2{
margin-top: -20px;
}
